body{
     
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #508ca4;
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;
   
    background-image: url(images1/cyberpadlock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 4%;
    padding-bottom: 1%;
    text-align: center;
}

.mainbody{
    display: flex;
    flex-direction: row; 
    padding-top: 5%; 
    padding-bottom: 5%; 
    margin-left: 8%; 
    margin-right: 8%;
}

.role{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
}

.competences1{
    display: flex;
    flex-direction: row;
}

.icons{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
}

.competences1{
    text-align: left;
    margin-left: 2%;
    
}

.mgt{
    margin-left: 15%;
}


